* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 90px;
    font-weight: 900;
    z-index: 100;
    color: black;
    margin-bottom: 30px;
    color: white;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    z-index: 100;
    margin-bottom: 30px;
    color: white;
}

h1::after {
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: white;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.52);
}

.amarllo {
    font-size: 50px;
    font-weight: 900;
    z-index: 100;
    color: black;
    margin-bottom: 30px;
    color: #FFD700;
}

.verde {
    font-size: 50px;
    font-weight: 900;
    z-index: 100;
    margin-bottom: 30px;
    color: #88ff18;
}

.azul {
    font-size: 50px;
    font-weight: 900;
    z-index: 100;
    margin-bottom: 30px;
    color: #00f7ff;
}

.container-pres {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 20px;
    margin-top: 5rem;
}

.svg_imagen {
    position: relative;
    width: 500px;
    height: 400px;
    right: 300px;
}

.container_parrafo {
    position: absolute;
    left: 60%;
    top: 5%;
    padding-top: 0px;
    width: 400px;
    right: 50px;
}

.parrafo {
    text-align: left;
}